In [3]:
import pandas as pd 
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df = pd.read_excel("spacData.xlsx", engine='openpyxl')
df.head()

In [36]:
column_names = list(df.columns)
column_names[0] = 'Date'
df.columns = column_names
df.columns.str.match("Unnamed")
# df = df.loc[:,~df.columns.str.match("Unnamed")]
tickers = [x.split(' US Equity')[0] for x in list(df.columns)]
df.columns = tickers
df = df.drop(0)
df.head()

,Date,ASTS,Unnamed: 2,Unnamed: 3,ASTSW,Unnamed: 5,Unnamed: 6,NPAUU,Unnamed: 8,Unnamed: 9,...,Unnamed: 264,CLVR,Unnamed: 266,Unnamed: 267,CLVRW,Unnamed: 269,Unnamed: 270,SAMAU,Unnamed: 272,Unnamed: 273
1,2019-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2019-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.to_csv('filtered_data.csv')

In [45]:
tickers = [x.split(' US Equity')[0] for x in list(df.columns) if "Unnamed" not in x]
# for i in range(len(tickers)):
#     for j in range(3):
#         tickers.insert(i+1, tickers[i])
#         print(i+1, tickers[i+1])

In [59]:
for x in range(int(len(tickers) / 3)):
    print(tickers[x * 3 - 2])

CLVRW
ASTS
INVZ
FOA
PSFE
ARVL
NVVE
NBACU
LOACR
PCTTW
AEVA/WS
OUST/WS
VIEWW
CHPT/WS
BFLY/WS
NUVB/WS
MILEW
ETWO/WS
ADNWW
UWMC/WS
HIMS/WS
BTRSW
CLOVW
BMTX/WS
RMO/WS
RB009KR8 M-Mkt
RB009KRR M-Mkt
VINCU
HYACU
MNCLU

In [49]:
triple_tickers = [[x,x,x] for x in tickers]
triple_tickers = np.reshape(triple_tickers, 3*len(triple_tickers))
triple_tickers = list(triple_tickers)
triple_tickers.insert(0,'Date')
triple_tickers = triple_tickers[3:]

['Date',
 'ASTS',
 'ASTS',
 'ASTS',
 'ASTSW',
 'ASTSW',
 'ASTSW',
 'NPAUU',
 'NPAUU',
 'NPAUU',
 'INVZ',
 'INVZ',
 'INVZ',
 'INVZW',
 'INVZW',
 'INVZW',
 'CGROU',
 'CGROU',
 'CGROU',
 'FOA',
 'FOA',
 'FOA',
 'FOA/WS',
 'FOA/WS',
 'FOA/WS',
 'RPLA/U',
 'RPLA/U',
 'RPLA/U',
 'PSFE',
 'PSFE',
 'PSFE',
 'PSFE/WS',
 'PSFE/WS',
 'PSFE/WS',
 'BFT/U',
 'BFT/U',
 'BFT/U',
 'ARVL',
 'ARVL',
 'ARVL',
 'ARVLW',
 'ARVLW',
 'ARVLW',
 'CIICU',
 'CIICU',
 'CIICU',
 'NVVE',
 'NVVE',
 'NVVE',
 'NVVEW',
 'NVVEW',
 'NVVEW',
 'NBACR',
 'NBACR',
 'NBACR',
 'NBACU',
 'NBACU',
 'NBACU',
 'LBPS',
 'LBPS',
 'LBPS',
 'LBPSW',
 'LBPSW',
 'LBPSW',
 'LOACR',
 'LOACR',
 'LOACR',
 'LOACW',
 'LOACW',
 'LOACW',
 'PCT',
 'PCT',
 'PCT',
 'PCTTW',
 'PCTTW',
 'PCTTW',
 'ROCHU',
 'ROCHU',
 'ROCHU',
 'AEVA',
 'AEVA',
 'AEVA',
 'AEVA/WS',
 'AEVA/WS',
 'AEVA/WS',
 'IPV/U',
 'IPV/U',
 'IPV/U',
 'OUST',
 'OUST',
 'OUST',
 'OUST/WS',
 'OUST/WS',
 'OUST/WS',
 'RB009KRY M-Mkt',
 'RB009KRY M-Mkt',
 'RB009KRY M-Mkt',
 'VIEW',
 'VIEW',
 'VIEW',
 'VIEWW',
 'VIEWW',
 'VIEWW',
 'RB009KR2 M-Mkt',
 'RB009KR2 M-Mkt',
 'RB009KR2 M-Mkt',
 'CHPT',
 'CHPT',
 'CHPT',
 'CHPT/WS',
 'CHPT/WS',
 'CHPT/WS',
 'RB00ATG6 M-Mkt',
 'RB00ATG6 M-Mkt',
 'RB00ATG6 M-Mkt',
 'BFLY',
 'BFLY',
 'BFLY',
 'BFLY/WS',
 'BFLY/WS',
 'BFLY/WS',
 'RB00ASG3 M-Mkt',
 'RB00ASG3 M-Mkt',
 'RB00ASG3 M-Mkt',
 'NUVB',
 'NUVB',
 'NUVB',
 'NUVB/WS',
 'NUVB/WS',
 'NUVB/WS',
 'RB00A7K1 M-Mkt',
 'RB00A7K1 M-Mkt',
 'RB00A7K1 M-Mkt',
 'MILE',
 'MILE',
 'MILE',
 'MILEW',
 'MILEW',
 'MILEW',
 'RB00AZ9Z M-Mkt',
 'RB00AZ9Z M-Mkt',
 'RB00AZ9Z M-Mkt',
 'ETWO',
 'ETWO',
 'ETWO',
 'ETWO/WS',
 'ETWO/WS',
 'ETWO/WS',
 'RB009KRW M-Mkt',
 'RB009KRW M-Mkt',
 'RB009KRW M-Mkt',
 'ADN',
 'ADN',
 'ADN',
 'ADNWW',
 'ADNWW',
 'ADNWW',
 'AMCIU',
 'AMCIU',
 'AMCIU',
 'UWMC',
 'UWMC',
 'UWMC',
 'UWMC/WS',
 'UWMC/WS',
 'UWMC/WS',
 'RB009LBJ M-Mkt',
 'RB009LBJ M-Mkt',
 'RB009LBJ M-Mkt',
 'HIMS',
 'HIMS',
 'HIMS',
 'HIMS/WS',
 'HIMS/WS',
 'HIMS/WS',
 'RB009ZQC M-Mkt',
 'RB009ZQC M-Mkt',
 'RB009ZQC M-Mkt',
 'BTRS',
 'BTRS',
 'BTRS',
 'BTRSW',
 'BTRSW',
 'BTRSW',
 'SMMC/U',
 'SMMC/U',
 'SMMC/U',
 'CLOV',
 'CLOV',
 'CLOV',
 'CLOVW',
 'CLOVW',
 'CLOVW',
 'RB009KS5 M-Mkt',
 'RB009KS5 M-Mkt',
 'RB009KS5 M-Mkt',
 'BMTX',
 'BMTX',
 'BMTX',
 'BMTX/WS',
 'BMTX/WS',
 'BMTX/WS',
 'RB00B9ZA M-Mkt',
 'RB00B9ZA M-Mkt',
 'RB00B9ZA M-Mkt',
 'RMO',
 'RMO',
 'RMO',
 'RMO/WS',
 'RMO/WS',
 'RMO/WS',
 'RSI',
 'RSI',
 'RSI',
 'RSI/WS',
 'RSI/WS',
 'RSI/WS',
 'RB009KR8 M-Mkt',
 'RB009KR8 M-Mkt',
 'RB009KR8 M-Mkt',
 'PRCH',
 'PRCH',
 'PRCH',
 'PRCHW',
 'PRCHW',
 'PRCHW',
 'RB009KRR M-Mkt',
 'RB009KRR M-Mkt',
 'RB009KRR M-Mkt',
 'VINC',
 'VINC',
 'VINC',
 'VINCW',
 'VINCW',
 'VINCW',
 'VINCU',
 'VINCU',
 'VINCU',
 'ARKO',
 'ARKO',
 'ARKO',
 'ARKOW',
 'ARKOW',
 'ARKOW',
 'HYACU',
 'HYACU',
 'HYACU',
 'ASLE',
 'ASLE',
 'ASLE',
 'ASLEW',
 'ASLEW',
 'ASLEW',
 'MNCLU',
 'MNCLU',
 'MNCLU',
 'XL',
 'XL',
 'XL',
 'GOEV',
 'GOEV',
 'GOEV',
 'GOEVW',
 'GOEVW',
 'GOEVW',
 'CLVR',
 'CLVR',
 'CLVR',
 'CLVRW',
 'CLVRW',
 'CLVRW',
 'SAMAU',
 'SAMAU',
 'SAMAU']

In [ ]:
# CODE TO CLEAN UP THE RAW DATA THAT WILL GAVE US
df = pd.read_excel("spacData.xlsx", engine='openpyxl')
df.head()
column_names = list(df.columns)
column_names[0] = 'Date'
df.columns = column_names
df.columns.str.match("Unnamed")
df = df.loc[:,~df.columns.str.match("Unnamed")]
tickers = [x.split(' US Equity')[0] for x in list(df.columns)]
df.columns = tickers
df = df.drop(0)
df.head()
df.to_csv('filtered_data.csv')

In [52]:
df

,Date,ASTS,ASTS,ASTS,ASTSW,ASTSW,ASTSW,NPAUU,NPAUU,NPAUU,...,GOEVW,CLVR,CLVR,CLVR,CLVRW,CLVRW,CLVRW,SAMAU,SAMAU,SAMAU
1,2019-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2019-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.94,10.35,10,9.92,2.45,2.38,2.3,NaN,NaN,NaN
2939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.14,9.99,10.34,10.26,2.39,2.39,2.38,NaN,NaN,NaN
2940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.01,10.27,12.15,12.1,2.38,3.26,3.24,NaN,NaN,NaN
2941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.68,12.15,10.97,10.95,3.2601,2.76,2.75,NaN,NaN,NaN
2942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.65,10.97,11.89,11.82,2.75,3.05,3.02,NaN,NaN,NaN

In [53]:
df.to_csv('filtered_data_with_bidask.csv')

In [26]:
announced_df = pd.read_csv("spac-research.csv", encoding = "ISO-8859-1")

In [27]:
announced_df.head()

,SPAC,Newco,Ticker,Announced,Closed,TEV ($M),TEV/IPO,Sector,Geography,Redeemed,...,Director 13,Director 14,Director 15,Date +3mo,Date +6mo,Date +12mo,Date +0mo Price,Date +3mo Price,Date +6mo Price,Date +12mo Price
0,New Providence Acq,AST SpaceMobile,ASTS,12/16/2020,4/6/2021,"1,392",605%,Technology,US/Canada,NaN,...,NaN,NaN,NaN,7/5/2021,10/3/2021,4/1/2022,NaN,8.660,NaN,NaN
1,Collective Growth,Innoviz Technologies,INVZ,12/11/2020,4/5/2021,"1,033",689%,Automotive,Europe,NaN,...,NaN,NaN,NaN,7/4/2021,10/2/2021,3/31/2022,NaN,10.845,NaN,NaN
2,Replay Acq,Finance of America,FOA,10/13/2020,4/1/2021,"2,012",700%,Financial,US/Canada,68.70%,...,NaN,NaN,NaN,6/30/2021,9/28/2021,3/27/2022,NaN,10.085,NaN,NaN
3,Foley Trasimene II,Paysafe,PSFE,12/7/2020,3/30/2021,"9,000",613%,Financial,US/Canada,0.00%,...,NaN,NaN,NaN,6/28/2021,9/26/2021,3/25/2022,NaN,13.045,NaN,NaN
4,CIIG Merger,Arrival,ARVL,11/18/2020,3/24/2021,"5,400",2087%,Automotive,Europe,0.10%,...,NaN,NaN,NaN,6/22/2021,9/20/2021,3/19/2022,NaN,13.230,NaN,NaN

In [32]:
badHeaders = []

for header in list(announced_df.columns.values):
    if (header != "Ticker" and header != "Announced" and header != "Closed"):
        badHeaders.append(header)

announced_df = announced_df.drop(badHeaders, axis=1)

In [33]:
announced_df.to_csv('filtered_announced_data.csv')

In [34]:
announced_df.head()

  Ticker   Announced     Closed
0   ASTS  12/16/2020   4/6/2021
1   INVZ  12/11/2020   4/5/2021
2    FOA  10/13/2020   4/1/2021
3   PSFE   12/7/2020  3/30/2021
4   ARVL  11/18/2020  3/24/2021

In [27]:
min_df = pd.read_excel("mindata2.xlsx", engine="openpyxl", encoding = "ISO-8859-1")

In [28]:
cols = min_df.columns.values
badCols = []
for col in cols:
    if (min_df[col][1] != min_df[col][1]):
        badCols.append(col)
min_df = min_df.drop(badCols, axis=1)
min_df

,ASTS US Equity,Unnamed: 1,ASTS US Equity.1,Unnamed: 4,ASTSW US Equity,Unnamed: 7,ASTSW US Equity.1,Unnamed: 10,NPAUU US Equity,Unnamed: 13,...,LOACW US Equity.1,Unnamed: 136,PCT US Equity,Unnamed: 139,PCT US Equity.1,Unnamed: 142,PCTTW US Equity,Unnamed: 145,PCTTW US Equity.1,Unnamed: 148
0,NaT,12.45,NaT,12.56,NaT,4.03,NaT,4.14,NaT,14.57,...,NaT,1.33,NaT,26.51,NaT,26.70,NaT,12.90,NaT,13.05
1,2021-03-17 09:01:00,12.50,2021-03-17 09:03:00,12.56,2021-03-17 09:03:00,4.03,2021-03-17 09:04:00,4.14,2021-03-17 09:11:00,13.61,...,2021-03-17 09:06:00,1.33,2021-03-17 09:03:00,26.53,2021-03-17 09:01:00,26.92,2021-03-17 09:03:00,12.85,2021-03-17 09:05:00,13.00
2,2021-03-17 09:03:00,12.54,2021-03-17 09:04:00,12.54,2021-03-17 09:04:00,4.03,2021-03-17 09:05:00,4.14,2021-03-17 09:14:00,13.60,...,2021-03-17 09:07:00,1.33,2021-03-17 09:04:00,26.52,2021-03-17 09:03:00,26.95,2021-03-17 09:04:00,12.75,2021-03-17 09:06:00,13.00
3,2021-03-17 09:04:00,12.52,2021-03-17 09:05:00,12.56,2021-03-17 09:05:00,4.03,2021-03-17 09:06:00,4.11,2021-03-17 10:12:00,13.61,...,2021-03-17 09:08:00,1.33,2021-03-17 09:05:00,26.95,2021-03-17 09:04:00,26.80,2021-03-17 09:05:00,12.95,2021-03-17 09:07:00,13.25
4,2021-03-17 09:05:00,12.53,2021-03-17 09:06:00,12.50,2021-03-17 09:08:00,4.03,2021-03-17 09:07:00,4.10,2021-03-17 11:33:00,13.61,...,2021-03-17 09:09:00,1.35,2021-03-17 09:06:00,26.90,2021-03-17 09:05:00,27.00,2021-03-17 09:06:00,12.96,2021-03-17 09:09:00,13.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14597,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
14598,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
14599,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
14600,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN
14601,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN

In [30]:
cols = min_df.columns.values
print(len(cols))
for x in range(len(cols) / 2):
    name = cols[x * 2]
    cols[x * 2] = "Date"
    cols[x * 2 + 1] = name.split()[0]
    min_df.columns = cols   
        
min_df

92

TypeError: 'float' object cannot be interpreted as an integer