In [23]:
import pandas as pd 

df = pd.read_csv("filtered_data.csv");

In [25]:
df.tail()

,Unnamed: 0,Date,ASTS,ASTSW,NPAUU,INVZ,INVZW,CGROU,FOA,FOA/WS,...,HYACU,ASLE,ASLEW,MNCLU,XL,GOEV,GOEVW,CLVR,CLVRW,SAMAU
591,592,2021-04-07 00:00:00,11.60,3.89,13.3494,10.79,2.9000,11.2,9.72,1.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
592,593,2021-04-08 00:00:00,11.81,4.03,13.3494,12.35,3.2000,11.2,9.72,1.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
593,594,2021-04-09 00:00:00,10.78,3.56,13.3494,11.83,2.9401,11.2,9.35,1.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,595,2021-04-12 00:00:00,10.00,3.30,13.3494,12.06,3.1000,11.2,9.95,1.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
595,596,2021-04-13 00:00:00,9.69,3.00,13.3494,10.95,2.8673,11.2,10.01,1.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Start Date,2010-01-01 00:00:00,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 264,Unnamed: 265,Unnamed: 266,Unnamed: 267,Unnamed: 268,Unnamed: 269,Unnamed: 270,Unnamed: 271,Unnamed: 272,Unnamed: 273
3,NaN,Closing Price 1 Day Ago,Ask Price,Bid Price,Closing Price 1 Day Ago,Ask Price,Bid Price,Closing Price 1 Day Ago,Ask Price,Bid Price,...,Bid Price,Closing Price 1 Day Ago,Ask Price,Bid Price,Closing Price 1 Day Ago,Ask Price,Bid Price,Closing Price 1 Day Ago,Ask Price,Bid Price
4,Dates,PX_CLOSE_1D,PX_ASK,PX_BID,PX_CLOSE_1D,PX_ASK,PX_BID,PX_CLOSE_1D,PX_ASK,PX_BID,...,PX_BID,PX_CLOSE_1D,PX_ASK,PX_BID,PX_CLOSE_1D,PX_ASK,PX_BID,PX_CLOSE_1D,PX_ASK,PX_BID
5,2010-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2010-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2010-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN